@import "tailwindcss";

@theme {
  --color-black: #31293c;
  --color-blue: #1f3963;
  --color-dark-blue: #1e2f49;
  --color-green: #406753;
  --color-light-blue: #d1d7dc;
  --color-pink: #df6489;
  --color-white: #ffffff;
  --color-grey: #ABAFB1;

  
  --color-dark-bg: #303647;           
  --color-dark-surface: #1a1f2e;      
  --color-dark-white: #8C98A6; 
  --color-dark-card: #9BA4AF;    
  --color-dark-border: #070D22;     
}


@variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-light-blue);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease;
}

.dark {
  background-color: var(--color-dark-bg);
  color: rgba(255, 255, 255, 0.87);
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}